/* @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
 */

@import "tailwindcss";


 *{
  font-family:serif;
} 

@theme {
  --color-primary: #1f2937;        /* Gray 800 - navbar/bg */
  --color-primary-dull: #374151;   /* Gray 700 - dull hover or border */

  --color-bg-light: #f3f4f6;       /* Gray 100 - page background */
  --color-bg-dark: #111821;        /* Gray 900 - dark section or footer */

  --color-button: #4b5563;         /* Gray 600 - button base */
  --color-button-hover: #6b7280;   /* Gray 500 - button hover */

  --color-text: #e5e7eb;           /* Gray 200 - light text on dark */
  --color-text-dark: #111827;      /* Gray 900 - dark text on light */

  --color-border: #9ca3af;         /* Gray 400 - borders */
}
